.calendar__container{
    box-sizing: content-box;
    width:190px;
    height:160px;
    padding : 38px 32px;
    position: absolute;
}

.calendar__body{
    height: 150px;
}

.calendar__indicator {
    text-align:center;
    vertical-align: middle;
    position: relative;
}

.calendar__navigator{
    position: absolute;
    width:20px;
    height:20px;
}

.calendar__navigator--prev-month {
    left:0px;
}

.calendar__navigator--next-month {
    right : 0px;
}

.calendar__cell{
    cursor: pointer;
    background: white;
    text-align: center;
    width:calc(100% / 7);
    display: inline-block;
    border:0;
    position: relative;
}

.month-calendar__cell {
    user-select: none;
    cursor: pointer;
    border:0;
    padding: 0;
    font-size: 12px;
    background: white;
    text-align: center;
    display: inline-block;
    position: relative;
    width:34px;
    height:34px;
    margin-top:18px;
    margin-right:18px;
    color:#666666;
    border-radius: 100%;
}
.month-calendar__cell:hover{
    background: #d1e4f7;
}

.month-calendar__cell:focus{
    outline:0;
}

.month-calendar__cell:nth-child(4n + 4) {
    margin-right:0;
}


.month-calendar__cell--selected,
.month-calendar__cell--selected:hover{
    color:#ffffff;
    background:#458eff;
}

.datepicker__container {
    display:inline-block;
}
